In [1]:
import pandas as pd

In [3]:
ps_data = pd.DataFrame({'Device_name' : ['PS 5 slim','PS 5 slim','PS 5 slim', 'PS 5 slim', 'PS 5 slim', 'PS 5 fat'],
              'version':['degital', 'full','degital', 'degital', 'full', 'full'],
             'status':['new','new','new', 'used', 'used', 'used'],
             'joy stick':['2', '1', '1', '1', '1', '1'],
             'price':[31999, 32000, 27500, 21500, 23500, 21500]})

In [6]:
ps_data

  Device_name  version status joy stick  price
0   PS 5 slim  degital    new         2  31999
1   PS 5 slim     full    new         1  32000
2   PS 5 slim  degital    new         1  27500
3   PS 5 slim  degital   used         1  21500
4   PS 5 slim     full   used         1  23500
5    PS 5 fat     full   used         1  21500